    <div class="body-contents">
          <div class="new-projects">プロジェクト名</div>
          
          <p>プロジェクト詳細</p>
          <div class="projects-edit-delete-btn">
            <a class="submit" href="#">編集</a>
            <a class="submit" href="#">削除</a>
          </div>
    </div>